@use 'colors';
@use 'mixins';

.container {
    margin: 5%;
}

.grid-container {
    // background-color: rgba(212, 212, 212, 0.13);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: auto / 4fr 6fr;
    column-gap: 24px;
    row-gap: 24px;
    color: colors.$color-white;
    height: 100px;

    @include mixins.media-up(md) {
        grid-template: auto / 1fr;
    }
}

.card {
    background-color: colors.$color-bg-grey;
    border-radius: 14px;
    width: 100%;
    height: 100%;
    box-shadow: colors.$shadow;
    & .form {
        margin: 16px;
    }
}
