

$color-Primary: #279AF1;
$color-Primary-2 : #64B7F5;
$color-Primary-3 : #94CDF8;
$color-Primary-4 : #C2E2FB;

$color-Secondary: #23B5D3;
$color-Secondary-2 : #62CAE0;
$color-Secondary-3 : #92DAE9;
$color-Secondary-4 : #C1EBF3;

$color-Tertiary: #EA526F;
$color-Tertiary-2 : #F08398;
$color-Tertiary-3 : #F5AAB8;
$color-Tertiary-4 : #F9CFD7;

$color-white: #F7F7FF;
$color-black: #252525;
$color-danger: #FE2F34;
$color-bg-black: #1B2329;
$color-bg-grey: #3C3C3C;
$color-text-grey: #BDBDBD;

$shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);