$color-Primary: #279af1;
$color-Primary-2: #64b7f5;
$color-Primary-3: #94cdf8;
$color-Primary-4: #c2e2fb;

$color-Secondary: #23b5d3;
$color-Secondary-2: #62cae0;
$color-Secondary-3: #92dae9;
$color-Secondary-4: #c1ebf3;

$color-Tertiary: #ea526f;
$color-Tertiary-2: #f08398;
$color-Tertiary-3: #f5aab8;
$color-Tertiary-4: #f9cfd7;

$color-white: #f7f7ff;
$color-black: #252525;
$color-danger: #fc595c;
$color-bg-black: #1b2329;
$color-bg-grey: #3c3c3c;
$color-text-grey: #bdbdbd;

$shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
